{{ include('title.twig') }}
<p>
    Je soussigné <span class="dynamic-data">{{ ofUserName }}</span>, représentant légal de l’organisme de formation <span class="dynamic-data">{{ ofName }}</span>, atteste que <span class="dynamic-data">{{ traineeName }}</span>, a bien suivi l’action de formation
    <span class="dynamic-data">{{ trainingName }} : </span>
</p>
<ul>
    <li>qui s’est déroulée sur la période du <span class="dynamic-data">{{ trainingStartDate }}</span> au <span class="dynamic-data">{{ trainingEndDate }},</span></li>
    <li>avec une durée de <span class="dynamic-data">{{ trainingDuration }}</span> heures.</li>
</ul>

{{ include('signature.twig') }}
