<table class="no-style" style="margin-top: 10px; margin-bottom: 13px;">
    <thead>
    <tr>
        <th colspan="6">{{ pageData.trainingName }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2" class="text-align-left">Période : {{ pageData.trainingStartDate }} au {{ pageData.trainingEndDate }}</td>
        <td colspan="2" class="text-align-center">Lieu : {{ pageData.trainingLocation }}</td>
        <td colspan="2" class="text-align-right">Durée : {{ pageData.trainingDuration }} heures sur {{ pageData.trainingDays }} jour{{ pageData.trainingDays > 1 ? 's' : '' }} </td>
    </tr>
    <tbody>
</table>

<table class="emargement">
    <thead>
    <tr>
        <th class="first-column">&nbsp;</th>
        {% for i in range(0, pageData.nbPeriodPerPage - 1) %}
            <th class="date-column">
                {% if pageData.trainingPeriods|length > i %}
                    <div>{{ pageData.trainingPeriods[i].date }}</div>
                    <div>{{ pageData.trainingPeriods[i].startHour }} à {{ pageData.trainingPeriods[i].endHour }}</div>
                    <div>{{ pageData.trainingPeriods[i].duration }}h</div>
                {% endif %}
            </th>
        {% endfor %}
        </th>
    </tr>
    <tr>
        <th class="light uppercase">
            Nom
        </th>
        <th class="light" colspan="8">
            <span class="subtitle">Participants</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subtitle-caption">Par ma signature, j'atteste avoir participé à la formation ci-dessus</span>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for j in range(0, pageData.nbTraineePerPage - 1) %}
        <tr>
            <th class="light name-column text-align-left font-weight-normal {{ (pageData.trainees[j]['firstName']|length + pageData.trainees[j]['lastName']|length)  > 15 ? 'long-name' : '' }}">
                {{ pageData.trainees[j] | fullName }}
            </th>
            {% for i in range(0, pageData.nbPeriodPerPage - 1) %}
                <td class="signature-cell">
                    {% if pageData.trainees[j].signatureFile and pageData.trainingPeriods|length > i %}
                        <img src="assets/images/{{ pageData.trainees[j].signatureFile }}"/>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tbody>
    <tr>
        <th class="light uppercase">
            Nom
        </th>
        <th class="light" colspan="8">
            <span class="subtitle">Formateur</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subtitle-caption">Par ma signature, j'atteste avoir dispensé la formation ci-dessus</span>
        </th>
    </tr>
    </tbody>
    <tbody>
    {% for trainer in pageData.trainers %}
        <tr>
            <th class="light name-column text-align-left font-weight-normal {{ (trainer['firstName']|length + trainer['lastName']|length)  > 15 ? 'long-name' : '' }}">
                {{ trainer | fullName }}
            </th>
            {% for i in range(0, pageData.nbPeriodPerPage - 1) %}
                <td></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
