<table class="no-style" style="margin-top: 10px; margin-bottom: 13px;">
    <thead>
    <tr>
        <th colspan=6">{{ trainingName }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2" class="text-align-left">Période : {{ trainingStartDate }} au {{ trainingEndDate }}</td>
        <td colspan="2" class="text-align-center">Lieu : {{ trainingLocation }}</td>
        <td colspan="2" class="text-align-right">Durée : {{ trainingDuration }} heures sur {{ trainingDays }} jour{{ trainingDays > 1 ? 's' : '' }} </td>
    </tr>
    <tbody>
</table>

<table class="emargement">
    <thead>
    <tr>
        <th class="first-column">&nbsp;</th>
        {% for i in range(0, nbPeriodPerPage - 1) %}
            <th class="date-column">
                {% if trainingPeriods|length > i %}
                    <div>{{ trainingPeriods[i].date }}</div>
                    <div>{{ trainingPeriods[i].startHour }} à {{ trainingPeriods[i].endHour }}</div>
                    <div>{{ trainingPeriods[i].duration }}h</div>
                {% endif %}
            </th>
        {% endfor %}
        </th>
    </tr>
    <tr>
        <th class="light uppercase">
            Nom
        </th>
        <th class="light" colspan="8">
            <span class="subtitle">Participants</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subtitle-caption">Par ma signature, j'atteste avoir participé à la formation ci-dessus</span>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for j in range(0, nbTraineePerPage - 1) %}
        <tr>
            <th class="light text-align-left font-weight-normal">
                {{ trainees[j]['firstName'] }} {{ trainees[j]['lastName'] }}
            </th>
            {% for i in range(0, nbPeriodPerPage - 1) %}
                <td></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tbody>
    <tr>
        <th class="light uppercase">
            Nom
        </th>
        <th class="light" colspan="8">
            <span class="subtitle">Formateur</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subtitle-caption">Par ma signature, j'atteste avoir dispensé la formation ci-dessus</span>
        </th>
    </tr>
    </tbody>
    <tbody>
    {% for trainer in trainers %}
    <tr>
        <th class="light text-align-left font-weight-normal">
            {{ trainer['firstName'] }} {{ trainer['lastName'] }}
        </th>
        {% for i in range(0, nbPeriodPerPage - 1) %}
            <td></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
