<!DOCTYPE html>
<html>
<head>
    {{ include('css.twig') }}
</head>
<body class="{{ documentType }}-document">
{% for pageData in pagesData %}
    {{ include(pageData.headerTemplate) }}
    {{ include(pageData.bodyTemplate) }}
    {{ include(pageData.footerTemplate) }}
    {% if loop.last == false %}
        <span class="page_break"></span>
    {% endif %}
{% endfor %}
</body>
</html>
