<!DOCTYPE html>
<html>
<head>
    {{ include('css.twig') }}
</head>
<body class="{{ documentType }}-document">
{{ include(headerTemplate) }}
{{ include(bodyTemplate) }}
{{ include(footerTemplate) }}
</body>
</html>
